//Map
$padding:(
	top-min: 20px,
	top-max: 100px,
	bottom-min:20px,	
	bottom-med:30px,
	bottom-max: 50px,

);

$colorprincipal :rgba(235, 172, 100, 0.76) ;
$fuente20px:20px;
$max:100%;


/* imagen de la empresaa*/

.aside   {
    width:$max;
    height: 300px;
    display: flex;
    justify-content: center;
	padding-top: map-get($padding, top-max );
}

.mainindex {
	display: flex;
	width: $max;
	height: 30%;
	flex-direction: column;
	text-align: center;
	padding-top:map-get($padding ,top-min );
    padding-bottom: map-get($padding ,bottom-min );
	h1 {
		padding-bottom: map-get($padding ,bottom-med );
		text-decoration: underline;
		text-decoration-color: $colorprincipal;
	}
	p {
		padding-bottom: map-get($padding ,bottom-min );
		font-size:$fuente20px;
	}
	iframe {
		width:$max;
		height: $max;
		z-index: -1;
		margin-top: 10px;
	}
}


.gifindex {
    padding-bottom: map-get($padding ,bottom-max );
}
.botonindex {
	justify-content: center;
	background-color: $colorprincipal;
	text-align: center;
	font-size:$fuente20px;
	a {
		color: white;
		&:hover {
			border-color: $colorprincipal;
		}
	}
}

#crearespacio {
    padding-bottom: map-get($padding ,bottom-max );
}
.imgcarr {
height: 750px;
width: 100%;



}


.sectionindex {


justify-content: center;
align-items: center;

}

@media screen and (min-width: 320px) and (max-width: 954px)

/* para achicar el espacio que se crea entre elementos */
    {
    #crearespacio {
        padding-bottom: 0px;

    }
}
